.body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border: 1px solid #000;
background-color: rgba(0, 0, 0, 0.756);
}

.button{ 
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.756);
    border: 2px solid white;
    padding: 12px;
    margin-right: 10px;
}
.ahref{
  color: white;
  text-decoration: none;
}
.nav1{ 
    padding: 40px;
    color: white;
    text-decoration: none;
}
.lista1{
    color: #000;
    border: 0px solid black;
    border-radius: 10px;
}
#header {
    height: 10vh;
    display: flex;
    width: 100%;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
}

.header-esquerda {
    background-color:  rgba(0, 0, 0, 0.756);
}
#imagem {
    width:200px;
    height:60px;
    margin-top: 5px;
    margin-left: 30px;
}
.header-direita {
    background-color: rgba(0, 0, 0, 0.756);
    min-height: 100%;
    align-self: right;
    flex-grow: 1;
    margin-right: 0;
    justify-content:flex-end;
    display: flex;
    flex-direction: row;
    padding:10px
}

.ahref{
    color: white;
    text-decoration: none;
  }
  
.button{ 
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.756);
    border: 2px solid white;
    padding: 12px;
    margin-right: 10px;
}


.card-contact{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    align-self: center;
    margin: auto;
    margin-top: 60px;
    width: 600px;
}
.card-header{ 
    justify-self: center;
}

.container2 {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


