.body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border: 1px solid #000;
background-color: rgba(0, 0, 0, 0.756);

}
.carousel {
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 40px;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
#imagem {
  width:200px;
  height:60px;
  margin-top: 5px;
  margin-left: 30px;
}
#h1-slide{
 color: white;
}
#h2-slide{
  color: white;
}
.carousel-item {
  height: 32rem;
  flex: 0 0 100%;
    transition: transform 0.5s ease;
}
#header {
    height: 10vh;
    display: flex;
    width: 100%;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
}

.header-esquerda {
    background-color:  rgba(0, 0, 0, 0.756);
}

.header-direita {
    background-color: rgba(0, 0, 0, 0.756);
    min-height: 100%;
    align-self: right;
    flex-grow: 1;
    margin-right: 0;
    justify-content:flex-end;
    display: flex;
    flex-direction: row;
    padding:10px
}

.button{ 
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.756);
    border: 2px solid white;
    padding: 12px;
    margin-right: 10px;
}
.ahref{
  color: white;
  text-decoration: none;
}

#h2-2slide{
  color: white;

}
.legenda{
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.5)
}
#minha-foto{
  position: absolute;
  left: 0px;
  margin-top: 80px;
  width: 800px;
  height:500px;
}

#ul-abilities{
  margin-top: 80px;
color: white;
width: 500px;
height: 800px;
text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
margin-left: 60%;
}
.slide2{ 
  background-color: #3d3d3d;
  background-size: 1400px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("habilidades.jpeg");
}
.slide3{
  background-color: #3d3d3d;
  background-size: 1400px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("3-slide.jpg");
}
#img-card{
  padding: 10px;
  width: 300px;
  height: 300px;
}
.card {
margin: 20px;
align-items: center;
margin-bottom: 40px;
}
.card:hover #img-card {
  animation: moveToLeft 2s ease-in-out;
  animation-delay: 1000ms;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
}

.project{ 
  color: black;
  text-decoration: none;
}
.card-title { 
font-weight: bold;
}

.nav1{ 
  color: white;
  text-decoration: none;
  padding: 40px;

}



@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }

  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }